body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
  display: grid;
  gap: 10px;
}

.title {
  background: #e3f4ff;
  padding:15px;
}

.content {
  background: #e3f4ff;
  display: block;
  margin-bottom: 16px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align: center;
  padding: 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  width: 200px;
}